@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body{
	background-color:#000;
	font-family:'Raleway';
	overflow:hidden;
}

.brain-buttons{
	position:fixed;
	width:100%;
	height:3em;
	z-index:999;
	.button, .scroll-button{
		transition: all 0.2s ease-in;
		position:relative;
		display:inline-block;
		width:49%;
		color:#fff;
		text-align:center;
		font-size:2em;
		// &.left-button{
		// 	text-align:right;
		// }
		&.hide{
			display:none;
		}
	}

	.scroll-button{
	}
}

.headshot{
	width: 100%;
	margin: auto;
	// height: 640px;
	background-image: url('headshot1.jpg');
	background-size: contain;
	background-color: #000;
	background-repeat: no-repeat;
	background-position: center;

	.head-div{
		z-index:9;

		&.head-mid{
			// background: url('headshot1.jpg') no-repeat center;
			// z-index:99;
		}
	}

	&.headshot-mid{
		position:fixed;
		top:0;
		z-index:899;
		display:none;

		&.bottom-border{
			border-bottom: 2px dashed white;
		}

		&.show{
			display:block;
		}
	}

	&.headshot-relative{
		position:relative;
	}

	&.headshot-fixed{
		position:fixed;
		// width:100%;
	}
}

.cover-stream-line, .mid-stream-line{
	position:absolute;
	width:45.25%;
	padding-left:4em;
	margin: auto 24.25%;
	z-index:2;

	&.line-left{
		border-right: 2px dashed white;
	}

	&.line-right{
		border-left:2px dashed white;
	}

	&.hide{
		display:none;
	}
}

.content-overlay{
	position:fixed;
	width:100%;
	z-index:799;
	top:calc(33% );
	.content-overlay-panel{
		transition: all 0.2s ease-in;
		width:48%;
		display:inline-block;
		&.on{
			background:rgba(0,0,0,.8);
		}
	}
}

.content{
	width:100%;
	background-color:#000;
	position:relative;
	margin:auto;
	margin-bottom:9em;
	z-index:10;

	// .left-brain:hover{
	// 	background-color:#400;
	// }

	// .right-brain:hover{
	// 	background-color:#002;
	// }

	.stream{
		text-align:center;
		background-color:#000;
		color: #FFF;
		float:left;
		padding:2.5%;
		padding-top:0;
		width:45%;

		@media only screen and (max-width: 800px){
			padding-left:1%;
			padding-right:1%;
			width:48%;
		}

		&.left-brain{
			margin-top:16.5%;
		}

		.stream-line{
			position:absolute;
			width:0px;
			// border-right:2px dashed white;
			margin: auto 22%;
			z-index:1;
		}

		.stream-photo-frame{
			// max-height:
			position:relative;
			padding-top:1em;
			// margin:1em;
			z-index:2;
			transition: all 0.15s ease-in;
			.stream-photo-frame-inner{
				padding:1em;
				margin:1em;
				border: 2px dashed white;
				border-radius: 2em;
				background-color:#000;
				.stream-photo, .stream-caption{
					border-radius:1em;
					// width:100%;
					max-width: 480px;
					margin: auto;
					margin-top:1em;
					text-align:justify;
					header{
						text-align:center;
					}
				}
			}

			// &.frame-right:hover{
			// 	transform:rotate(-4deg) scale(1.3);
			// }
			// &.frame-left:hover{
			// 	transform:rotate(4deg) scale(1.3);
			// }
		}
	}
}