@font-face {
  font-family: 'Raleway';
  src: url("Raleway-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  background-color: #000;
  font-family: 'Raleway';
  overflow: hidden; }

.brain-buttons {
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 999;
  transition: all .2s ease-in; }
  @media only screen and (min-width: 960px) {
    .brain-buttons .right-arrows {
      right: 2em; }
    .brain-buttons .left-arrows {
      left: 2em; } }
  .brain-buttons .button {
    transition: all 0.2s ease-in;
    position: relative;
    display: inline-block;
    width: 49%;
    color: #fff;
    text-align: center;
    font-size: 2em; }
    .brain-buttons .button.hide {
      display: none; }
    .brain-buttons .button.right-button, .brain-buttons .button.left-button {
      cursor: pointer; }
    .brain-buttons .button.right-button:hover {
      color: #0064ff; }
    .brain-buttons .button.left-button:hover {
      color: #ff0064; }
    @media only screen and (max-width: 960px) {
      .brain-buttons .button.right-button {
        text-align: left; }
      .brain-buttons .button.left-button {
        text-align: right; } }
    .brain-buttons .button .brain-arrow-curve {
      visibility: visible;
      position: absolute;
      border-top: 2px dashed;
      height: 600px;
      width: 36%; }
      .brain-buttons .button .brain-arrow-curve.hide {
        visibility: hidden; }
      .brain-buttons .button .brain-arrow-curve.curve-right {
        border-top-left-radius: 2em;
        border-left: 2px dashed;
        border-color: rgba(0, 100, 255, 0.75);
        right: 0; }
        @media only screen and (max-width: 960px) {
          .brain-buttons .button .brain-arrow-curve.curve-right {
            border-top-left-radius: 1em; } }
      .brain-buttons .button .brain-arrow-curve.curve-left {
        border-top-right-radius: 2em;
        border-right: 2px dashed;
        border-color: rgba(255, 0, 100, 0.75);
        left: 0; }
        @media only screen and (max-width: 960px) {
          .brain-buttons .button .brain-arrow-curve.curve-left {
            border-top-right-radius: 1em; } }
    .brain-buttons .button .brain-arrow {
      position: absolute;
      width: 40%; }
      .brain-buttons .button .brain-arrow.hide {
        border-bottom: none;
        visibility: hidden; }
        .brain-buttons .button .brain-arrow.hide .brain-arrow-box, .brain-buttons .button .brain-arrow.hide div {
          display: hidden; }
      .brain-buttons .button .brain-arrow.right-brain-arrow {
        right: 0;
        border-color: rgba(0, 100, 255, 0.75); }
        .brain-buttons .button .brain-arrow.right-brain-arrow .brain-arrow-box {
          right: 0;
          border-top-left-radius: 1em;
          border-top-right-radius: .5em;
          background-color: rgba(0, 100, 255, 0.5); }
      .brain-buttons .button .brain-arrow.left-brain-arrow {
        left: 0;
        border-color: rgba(255, 0, 100, 0.75); }
        .brain-buttons .button .brain-arrow.left-brain-arrow .brain-arrow-box {
          left: 0;
          border-top-right-radius: 1em;
          border-top-left-radius: .5em;
          background-color: rgba(255, 0, 100, 0.5); }
      .brain-buttons .button .brain-arrow .brain-arrow-box {
        position: absolute;
        background-color: #fff;
        height: 1em;
        width: 2.5em;
        bottom: 0; }
  @media only screen and (max-width: 960px) {
    .brain-buttons .right-arrows {
      text-align: left; }
    .brain-buttons .left-arrows {
      text-align: right; } }
  .brain-buttons .scroll-button {
    font-family: 'Arial', 'Georgia', 'Verdana';
    text-align: center;
    width: auto;
    display: inline-block;
    padding: .25em 1em;
    margin: .25em;
    border: 1px solid #fff;
    border-radius: 100px;
    cursor: pointer;
    background: #000; }
    @media only screen and (max-width: 800px) {
      .brain-buttons .scroll-button {
        padding: 0;
        position: relative;
        width: 2em; } }
    .brain-buttons .scroll-button.hide {
      display: none; }
  .brain-buttons .right-arrows .scroll-button:hover {
    background-color: rgba(0, 100, 255, 0.5); }
  .brain-buttons .left-arrows .scroll-button:hover {
    background-color: rgba(255, 0, 100, 0.5); }

.headshot {
  width: 100%;
  margin: auto -8px;
  background-image: url("headshot1.jpg");
  background-size: contain;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center; }
  .headshot .head-div {
    z-index: 9; }
  .headshot.headshot-mid {
    position: fixed;
    top: 0;
    z-index: 899;
    display: none;
    overflow-y: hidden;
    margin-left: -16px; }
    .headshot.headshot-mid.bottom-border {
      border-bottom: 2px dashed white; }
    .headshot.headshot-mid.show {
      display: block; }
  .headshot.headshot-relative {
    position: relative; }
  .headshot.headshot-fixed {
    position: fixed;
    margin-left: -16px; }

.headshot-mid .mid-stream-line {
  z-index: 999;
  top: 2em;
  width: 30% !important;
  margin: auto 32% !important; }

.cover-stream-line {
  position: absolute;
  width: 45.25%;
  padding-left: 4em;
  margin: auto 24.25%;
  z-index: 2;
  border-right: 2px dashed white;
  border-left: 2px dashed white; }
  .cover-stream-line.line-left {
    border-right-color: #ff0064 !important; }
  .cover-stream-line.line-right {
    border-left-color: #0064ff !important; }
  .cover-stream-line.hide {
    display: none; }

.content-overlay {
  position: fixed;
  width: 100%;
  z-index: 799;
  top: calc(33% ); }
  .content-overlay .content-overlay-panel {
    transition: all 0.2s ease-in;
    width: 48%;
    display: inline-block; }
    .content-overlay .content-overlay-panel.on {
      background: rgba(0, 0, 0, 0.8); }

.border-right-brain {
  border-color: #0064ff !important; }

.border-left-brain {
  border-color: #ff0064 !important; }

.content {
  width: 100%;
  background-color: #000;
  position: relative;
  margin: auto;
  margin-bottom: 9em;
  z-index: 10; }
  .content .stream {
    text-align: center;
    background-color: #000;
    color: #FFF;
    float: left;
    padding: 2.5%;
    padding-top: 0;
    width: 45%; }
    @media only screen and (max-width: 800px) {
      .content .stream {
        padding-left: 1%;
        padding-right: 1%;
        width: 48%; } }
    .content .stream.left-brain {
      margin-top: 16.5%; }
    .content .stream .stream-line {
      position: absolute;
      width: 0px;
      margin: auto 22%;
      z-index: 1; }
    .content .stream .stream-photo-frame {
      position: relative;
      padding-top: 1em;
      z-index: 2;
      transition: all 0.15s ease-in; }
      .content .stream .stream-photo-frame .stream-photo-frame-inner {
        padding: 1em;
        margin: 1em;
        border: 2px dashed white;
        border-radius: 2em;
        background-color: #000; }
        .content .stream .stream-photo-frame .stream-photo-frame-inner .stream-photo, .content .stream .stream-photo-frame .stream-photo-frame-inner .stream-caption {
          border-radius: 1em;
          max-width: 480px;
          margin: auto;
          margin-top: 1em;
          text-align: justify; }
          .content .stream .stream-photo-frame .stream-photo-frame-inner .stream-photo header, .content .stream .stream-photo-frame .stream-photo-frame-inner .stream-caption header {
            text-align: center; }

/*# sourceMappingURL=style.css.map */
