body{
	background-color:#000;
	font-family:'Arial';
	overflow-x:hidden;
}

.headshot{
	width: 100%;
	margin: auto;
	// height: 640px;
	background-image: url('headshot1.jpg');
	background-size: contain;
	background-color: #000;
	background-repeat: no-repeat;
	background-position: center;

	.head-div{
		z-index:9;

		&.head-mid{
			// background: url('headshot1.jpg') no-repeat center;
			// z-index:99;
		}
	}

	&.headshot-mid{
		position:fixed;
		top:0;
		z-index:999;
		display:none;

		&.show{
			display:block;
		}
	}

	&.headshot-relative{
		position:relative;
	}

	&.headshot-fixed{
		position:fixed;
		// width:100%;
	}
}

.content{
	width:100%;
	background-color:#000;
	position:relative;
	margin:auto;
	z-index:10;

	.left-brain:hover{
		background-color:#400;
	}

	.right-brain:hover{
		background-color:#002;
	}

	.stream{
		text-align:center;
		background-color:#000;
		color: #FFF;
		float:left;
		padding:2.5%;
		width:45%;
		.stream-photo-frame{
			padding:1em;
			transition: all 0.15s ease-in;
			.stream-photo, .stream-caption{
				width:100%;
				max-width: 480px;
				margin: auto;
				margin-top:1em;
				text-align:justify;
				header{
					text-align:center;
				}
			}

			&.frame-right:hover{
				transform:rotate(-4deg) scale(1.3);
			}
			&.frame-left:hover{
				transform:rotate(4deg) scale(1.3);
			}
		}
	}
}