@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body{
	background-color:#000;
	font-family:'Raleway';
	overflow:hidden;
	// margin-left:16px;
	// position:relative;
}

a, a:visited, a:active{
	color:white;
}

.brain-buttons{
	position:fixed;
	width:100%;
	overflow:hidden;
	// height:3em;
	z-index:999;
	@media only screen and (min-width: 960px){
		.right-arrows{
			right:2em;
		}
		.left-arrows{
			left:2em;
		}
	}

	.button{
		transition: all 0.2s ease-in;
		position:relative;
		display:inline-block;
		width:49%;
		color:#fff;
		text-align:center;
		font-size:2em;
		// overflow-y:hidden;
		// &.left-button{
		// 	text-align:right;
		// }

		&.hide{
			display:none;
		}

		&.right-button, &.left-button{
			cursor:pointer;
			// margin: 0 1em;
		}


		&.right-button:hover{
			color:rgba(0,100,255,1);
		}

		&.left-button:hover{
			color:rgba(255,0,100,1);
		}

		@media only screen and (max-width: 960px){
			&.right-button{
				text-align:left;
			}

			&.left-button{
				text-align:right;
			}
		}

		.brain-arrow-curve{
			visibility: visible;
			position:absolute;
			border-top: 2px dashed;
			height:600px;
			width:36%;
			&.hide{
				visibility:hidden;
			}
			&.curve-right{
				@media only screen and (max-width: 960px){
					border-top-left-radius: 1em;
				}
				border-top-left-radius:2em;
				border-left: 2px dashed;
				border-color:rgba(0,100,255,.75);
				right:0;
			}
			&.curve-left{
				@media only screen and (max-width: 960px){
					border-top-right-radius: 1em;
				}
				border-top-right-radius:2em;
				border-right: 2px dashed;
				border-color:rgba(255,0,100,.75);
				left:0;
			}
		}

		.brain-arrow{
			// transition: all 0.2s ease-in;
			position:absolute;
			// border-bottom:3px dashed white;
			width:40%;

			&.hide{
				border-bottom: none;
				visibility:hidden;
				.brain-arrow-box,div{
					display:hidden;
				}
			}

			&.right-brain-arrow{
				right:0;
				border-color:rgba(0,100,255,.75);
				.brain-arrow-box{
					right:0;
					border-top-left-radius: 1em;
					border-top-right-radius: .5em;
					background-color:rgba(0,100,255,.5);
				}
			}

			&.left-brain-arrow{
				left:0;
				border-color:rgba(255,0,100,.75);
				.brain-arrow-box{
					left:0;
					border-top-right-radius: 1em;
					border-top-left-radius: .5em;
					background-color:rgba(255,0,100,.5);
				}
			}

			.brain-arrow-box{
				position:absolute;
				background-color:#fff;
				height:1em;
				width:2.5em;
				bottom:0;
			}
		}
	}
	@media only screen and (max-width: 960px){
		.right-arrows{
			text-align:left;
		}

		.left-arrows{
			text-align:right;
		}
	}

	.scroll-button{
		font-family: 'Arial', 'Georgia', 'Verdana';
		text-align:center;
		@media only screen and (max-width: 800px){
			padding: 0;
			position:relative;
			width: 2em;
		}

		width:auto;
		display:inline-block;
		padding:.25em 1em;
		margin: .25em;
		border:1px solid #fff;
		border-radius:100px;
		cursor:pointer;
		background:#000;
		&.hide{
			display:none;
		}
	}

	.right-arrows .scroll-button:hover{
		background-color:rgba(0,100,255,.5);
	}

	.left-arrows .scroll-button:hover{
		background-color:rgba(255,0,100,.5);
	}
	transition:all .2s ease-in;
}

.headshot{
	width: 100%;
	margin: auto -8px;
	// height: 640px;
	background-image: url('headshot1.jpg');
	background-size: contain;
	background-color: #000;
	background-repeat: no-repeat;
	background-position: center;

	.head-div{
		z-index:9;

		&.head-mid{
			// background: url('headshot1.jpg') no-repeat center;
			// z-index:99;
		}
	}

	&.headshot-mid{
		position:fixed;
		top:0;
		z-index:899;
		display:none;
		overflow-y:hidden;
		margin-left:-16px;
		&.bottom-border{
			border-bottom: 2px dashed white;
		}

		&.show{
			display:block;
		}
	}

	&.headshot-relative{
		position:relative;
	}

	&.headshot-fixed{
		position:fixed;
		margin-left:-16px;
		// width:100%;
	}
}

.headshot-mid .mid-stream-line{
	z-index:999;
	top:2em;
	width:30% !important;
	margin: auto 32% !important
}

.cover-stream-line{
	position:absolute;
	width:45.25%;
	padding-left:4em;
	margin: auto 24.25%;
	z-index:2;
	border-right: 2px dashed white;
	border-left:2px dashed white;

	&.line-left{
		border-right-color:rgba(255,0,100,1) !important;
	}

	&.line-right{
		border-left-color:rgba(0,100,255,1) !important;
	}

	&.hide{
		display:none;
	}
}

.content-overlay{
	position:fixed;
	width:100%;
	z-index:799;
	top:calc(33% );
	.content-overlay-panel{
		position:absolute;
		transition: all 0.2s ease-in;
		width:48%;
		display:inline-block;
		visibility:hidden;
		&.panel-right{
			left:0;
		}
		&.panel-left{
			right:0;
		}
		&.on{
			visibility:visible;
			background:rgba(0,0,0,.8);
		}
	}
}

.border-right-brain{
	border-color:rgba(0,100,255,1) !important;
}
.border-left-brain{
	border-color:rgba(255,0,100,1) !important;
}

.content{
	width:100%;
	background-color:#000;
	position:relative;
	margin:auto;
	margin-bottom:9em;
	z-index:10;

	// .left-brain:hover{
	// 	background-color:#400;
	// }

	// .right-brain:hover{
	// 	background-color:#002;
	// }

	.stream{
		text-align:center;
		background-color:#000;
		color: #FFF;
		float:left;
		padding:2.5%;
		padding-top:0;
		width:45%;

		@media only screen and (max-width: 800px){
			padding-left:1%;
			padding-right:1%;
			width:48%;
		}

		&.left-brain{
			margin-top:16.5%;
		}

		.stream-line{
			position:absolute;
			width:0px;
			// border-right:2px dashed white;
			margin: auto 22%;
			z-index:1;
		}

		.frame-right .stream-photo-frame-inner{
			border-bottom-left-radius: 0 !important;
			border-top-right-radius: 8em !important;

			@media only screen and (max-width: 960px){
				border-top-right-radius: 4em !important;
			}
		}

		.frame-left .stream-photo-frame-inner{
			border-bottom-right-radius: 0 !important;
			border-top-left-radius: 8em !important;

			@media only screen and (max-width: 960px){
				border-top-left-radius: 4em !important;
			}
		}

		.stream-photo-frame{
			// max-height:
			position:relative;
			padding-top:1em;
			// margin:1em;
			z-index:2;
			transition: all 0.15s ease-in;
			.stream-photo-frame-inner{
				padding:1em;
				margin:1em;
				border: 2px dashed white;
				border-radius: 2em;
				background-color:#000;
				.stream-photo, .stream-caption{
					border-radius:1em;
					// width:100%;
					max-width: 480px;
					margin: auto;
					margin-top:1em;
					text-align:justify;
					header{
						text-align:center;
					}
				}

			}

			// &.frame-right:hover{
			// 	transform:rotate(-4deg) scale(1.3);
			// }
			// &.frame-left:hover{
			// 	transform:rotate(4deg) scale(1.3);
			// }
		}
	}
}

#poke-abode img{
	border: 2px solid white;
}