@font-face {
  font-family: 'Raleway';
  src: url("Raleway-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  background-color: #000;
  font-family: 'Raleway';
  overflow: hidden; }

.brain-buttons {
  position: fixed;
  width: 100%;
  height: 3em;
  z-index: 999; }
  .brain-buttons .button, .brain-buttons .scroll-button {
    transition: all 0.2s ease-in;
    position: relative;
    display: inline-block;
    width: 49%;
    color: #fff;
    text-align: center;
    font-size: 2em; }
    .brain-buttons .button.hide, .brain-buttons .scroll-button.hide {
      display: none; }

.headshot {
  width: 100%;
  margin: auto;
  background-image: url("headshot1.jpg");
  background-size: contain;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center; }
  .headshot .head-div {
    z-index: 9; }
  .headshot.headshot-mid {
    position: fixed;
    top: 0;
    z-index: 899;
    display: none; }
    .headshot.headshot-mid.bottom-border {
      border-bottom: 2px dashed white; }
    .headshot.headshot-mid.show {
      display: block; }
  .headshot.headshot-relative {
    position: relative; }
  .headshot.headshot-fixed {
    position: fixed; }

.cover-stream-line, .mid-stream-line {
  position: absolute;
  width: 45.25%;
  padding-left: 4em;
  margin: auto 24.25%;
  z-index: 2; }
  .cover-stream-line.line-left, .mid-stream-line.line-left {
    border-right: 2px dashed white; }
  .cover-stream-line.line-right, .mid-stream-line.line-right {
    border-left: 2px dashed white; }
  .cover-stream-line.hide, .mid-stream-line.hide {
    display: none; }

.content-overlay {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: calc(33% + 6px); }
  .content-overlay .content-overlay-panel {
    transition: all 0.2s ease-in;
    width: 48%;
    display: inline-block; }
    .content-overlay .content-overlay-panel.on {
      background: rgba(0, 0, 0, 0.8); }

.content {
  width: 100%;
  background-color: #000;
  position: relative;
  margin: auto;
  z-index: 10; }
  .content .stream {
    text-align: center;
    background-color: #000;
    color: #FFF;
    float: left;
    padding: 2.5%;
    padding-top: 0;
    width: 45%; }
    .content .stream .stream-line {
      position: absolute;
      width: 0px;
      margin: auto 22%;
      z-index: 1; }
    .content .stream .stream-photo-frame {
      position: relative;
      padding: 1em;
      margin: 1em;
      z-index: 2;
      transition: all 0.15s ease-in; }
      .content .stream .stream-photo-frame .stream-photo-frame-inner {
        padding: 1em;
        margin: 1em;
        border: 2px dashed white;
        border-radius: 2em;
        background-color: #000; }
        .content .stream .stream-photo-frame .stream-photo-frame-inner .stream-photo, .content .stream .stream-photo-frame .stream-photo-frame-inner .stream-caption {
          border-radius: 1em;
          width: 100%;
          max-width: 480px;
          margin: auto;
          margin-top: 1em;
          text-align: justify; }
          .content .stream .stream-photo-frame .stream-photo-frame-inner .stream-photo header, .content .stream .stream-photo-frame .stream-photo-frame-inner .stream-caption header {
            text-align: center; }

/*# sourceMappingURL=style.css.map */
